1. Read https://aeturrell.github.io/coding-for-economists/wrkflow-quarto.html#automated-slides-with-quarto.
2. Finish all exercises.
3. Read about creating a website https://quarto.org/docs/websites/
4. You can use this tutorial as well: https://marvinschmitt.com/blog/website-tutorial-quarto/
5. Create a quarto website which has the following sections:
- about me (a short page with info about yourself)
- homework (there should be the homewotrk you did during the semester)
- labs (this section should include finished practice and lab exercises)

The quarto website is required if you want to get a higher mark than 4 during the exam.
Website example: 
Example repository: https://github.com/ameliafoley/AMELIAFOLEY-MADA-portfolio